

.chatbox-sidepanel-direct-header {
    color: #FFF;
    font-weight: bold;
}

.chatbox-active-panel {
    font-weight: bold;
    color: #FFF;
    cursor: pointer;
}

.chatbox-sidepanel-header-spacer {
    margin-top: 10px;
}

.add-group-input {
    width: 80%;
    display: inline;
    border: 1px solid #0b85c6;
    border-radius: 7px;
}

.group-icon{
    padding-left: 5px;
}

.group-icon:hover {
    color: #0b85c6;
    cursor: pointer;
}