

<div>

    <div class="chatbox-sidepanel-direct-header">Contact List</div>
    <app-contact-list 
        [model]="model.contactListModel"
        (createChat)="onCreateChat($event)"
        (createGroupChat)="onCreateGroupChat($event)">
    </app-contact-list>

    <div *ngIf="model.chatPanels.length > 0" class="chatbox-sidepanel-header-spacer">
        <div class="chatbox-sidepanel-direct-header">Active Chats</div>
        <div *ngFor="let chatPanel of model.chatPanels;">
            <span class="chatbox-active-panel" (click)="onSelectChat(chatPanel)">{{chatPanel.chatId}}</span>
        </div>
    </div>

    <div  class="chatbox-sidepanel-header-spacer">
        <div class="chatbox-sidepanel-direct-header">Groups</div>
        <div>
            <input [(ngModel)]="model.createGroupName" class="add-group-input" type="text"/><i (click)="onAddGroup(model.createGroupName)" class="fas fa-plus-circle group-icon"></i>
        </div>
        <div *ngFor="let group of model.groups;">
            {{group.name}}
            <i *ngIf="!group.isMember" (click)="onJoinGroup(group.name)" class="fas fa-sign-in-alt group-icon"></i>
            <i *ngIf="group.isMember" (click)="onLeaveGroup(group.name)" class="fas fa-sign-out-alt group-icon"></i>
        </div>
    </div>
</div>
