<div *ngIf="loggedInUser">
    Logged In User: {{model.loggedInUser.username}}
  </div>
  
  <div *ngFor="let user of model.users;">
    <span *ngIf="user.isOnline">
      <i class="fas fa-comments chat-icon" (click)="onCreateChat(user)"></i>
    </span>
    <span *ngIf="!user.isOnline">
        <i class="far fa-comments chat-icon-disabled" (click)="onCreateChat(user)"></i>
      </span>
    <span>{{user.firstname}} {{user.lastname}} <span [ngClass]="{ 'online': user.isOnline, 'offline': !user.isOnline}" class="status-indicator"></span></span>
  </div>